# Pandas DATE TIME

In [2]:
import numpy as np

import pandas as pd
import warnings 
warnings.filterwarnings("ignore")

In [5]:

data = {"Car": ["BMW", "ALTO", "AUDI","MARUTI", "HONDA", "HYUNDAI", "FORD", "KIA"],\
     "Color": ["Red", "Yellow", "Black", "Green", "Black", "Red", "Black", "Black"],\
     "Year": ["1990", "1980", "2003", "2000", "2001", "2004", "1999", "2020"],\
     "Rating": ["2.5", "1.5", "3.8", "9.7", "8.9", "3.2", "5.5", "6.9"],\
     "Date": ["30/04/2023", "31/08/1999", "28/12/2015", "29/06/2011",\
                 "30/12/2020", "31/07/2013", "28/11/2000", "25/12/2020"]}
df = pd.DataFrame(data)
df.head()

      Car   Color  Year Rating        Date
0     BMW     Red  1990    2.5  30/04/2023
1    ALTO  Yellow  1980    1.5  31/08/1999
2    AUDI   Black  2003    3.8  28/12/2015
3  MARUTI   Green  2000    9.7  29/06/2011
4   HONDA   Black  2001    8.9  30/12/2020

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Car     8 non-null      object
 1   Color   8 non-null      object
 2   Year    8 non-null      object
 3   Rating  8 non-null      object
 4   Date    8 non-null      object
dtypes: object(5)
memory usage: 448.0+ bytes

In [9]:

#Reset the column Issue Date to be a datetime

df["Date"] = pd.to_datetime(df["Date"]) 
#Lets convert the Date column to be a datetime and not a string!

In [10]:
df.info()    #now datetime64[ns] is a datetime datatype in pandas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Car     8 non-null      object
 1   Color   8 non-null      object
 2   Year    8 non-null      object
 3   Rating  8 non-null      object
 4   Date    8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 448.0+ bytes

## date_range()
- ##### pandas.date_range() is one of the general functions in Pandas which is used to return a fixed frequency DatetimeIndex.

In [11]:
# Day wise
print(pd.date_range('2000/1/11', periods=5))

DatetimeIndex(['2000-01-11', '2000-01-12', '2000-01-13', '2000-01-14',
               '2000-01-15'],
              dtype='datetime64[ns]', freq='D')

In [12]:
#Month wise
print(pd.date_range('1/1/2011', periods=5,freq='Y'))

DatetimeIndex(['2011-12-31', '2012-12-31', '2013-12-31', '2014-12-31',
               '2015-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [13]:
#Create  a datetime datatype with specified intervals

start = pd.datetime(2011, 1, 1)
print('Start :',start)

end = pd.datetime(2011, 1, 20)
print("Stop :",end)

print(pd.date_range(start, end))

Start : 2011-01-01 00:00:00
Stop : 2011-01-20 00:00:00
DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10', '2011-01-11', '2011-01-12',
               '2011-01-13', '2011-01-14', '2011-01-15', '2011-01-16',
               '2011-01-17', '2011-01-18', '2011-01-19', '2011-01-20'],
              dtype='datetime64[ns]', freq='D')

In [14]:
#Creating a datframe With date column

df = pd.DataFrame({'name': ['Tom', 'Andy', 'Lucas'],
                 'DoB': ['08-05-1997', '04-28-1996', '12/16/1995']})

In [15]:
df

    name         DoB
0    Tom  08-05-1997
1   Andy  04-28-1996
2  Lucas  12/16/1995

In [16]:
df

    name         DoB
0    Tom  08-05-1997
1   Andy  04-28-1996
2  Lucas  12/16/1995

In [17]:
#Converting date column as datetime column

df['DoB'] = pd.to_datetime(df['DoB'])

In [18]:
#To get only year values in the date column

df['DoB'].dt.year

0    1997
1    1996
2    1995
Name: DoB, dtype: int64

In [19]:
#Checking the present year

today = pd.to_datetime('today')
today.year

2023

In [20]:
#finding the difference between the present year and year in the dataframe

today.year - df['DoB'].dt.year

0    26
1    27
2    28
Name: DoB, dtype: int64

In [21]:
#Creating new column on the difference years

df["Age"] = today.year - df['DoB'].dt.year
df

    name        DoB  Age
0    Tom 1997-08-05   26
1   Andy 1996-04-28   27
2  Lucas 1995-12-16   28

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   DoB     3 non-null      datetime64[ns]
 2   Age     3 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 200.0+ bytes

In [23]:
df["DoB"]

0   1997-08-05
1   1996-04-28
2   1995-12-16
Name: DoB, dtype: datetime64[ns]

In [24]:
df['DoB'].dt.year        #Checking year

0    1997
1    1996
2    1995
Name: DoB, dtype: int64

In [25]:
df['DoB'].dt.day          #Checking day

0     5
1    28
2    16
Name: DoB, dtype: int64

In [26]:
df['DoB'].dt.month        #Checking month

0     8
1     4
2    12
Name: DoB, dtype: int64

In [27]:
df['DoB'].dt.week          #Checking no.of week in the year

0    32
1    17
2    50
Name: DoB, dtype: int64

In [28]:
df['DoB'].dt.day_name()        #Checking the day_name

0     Tuesday
1      Sunday
2    Saturday
Name: DoB, dtype: object

In [29]:
#Checking the present date and time

today = pd.to_datetime('today')
today

Timestamp('2023-05-30 16:30:59.215421')

In [30]:
today.year

2023

In [31]:
today.day_name()       #Checking the today day_name

'Tuesday'